.kc-calendar
  position relative
  display inline-block

  .kc-times
    position absolute
    top 20px
    width 100%
    height calc(100% - 20px)

    >div
      width 100%

      &:nth-of-type(2n + 1)
        background-color #f1f1f1

  .kc-calendar-content
    position relative
    margin-left 60px
    height 100%

  .kc-events
    position absolute
    top 20px
    bottom 0
    left 0
    right 0


  .kc-days>div
    display inline-block
    text-align center
    padding 0 10px
    overflow hidden
    border-left 1px solid #ddd
    border-right 1px solid #ddd
    height 100%

    &:first-of-type
      border-left 2px solid #ddd

    &:last-of-type
      border-right 2px solid #ddd

  .kc-event
    position absolute
